.image img {
	height: 400px;
    margin: 25px;
	border: solid white 8px;
	box-shadow: 0px 0px 200px skyblue;
	margin-bottom: 70px;
	
}
.text {
border-radius: 25px;
width: 800px;
margin-left: 330px;  
color: white;
border:solid white 10px;
padding: 5px;
margin-bottom: 100px;
}
body{
	background-image:url(https://wallpapercave.com/wp/n9CdnTI.jpg);
text-align: center;}
h1{
color:white;
font-size: 67px;

}
